.b-absolute{
    position: absolute;
    padding: 8%;
    font-weight: bolder;
    color: #00a09b;
    font-size: 4rem;
}
.home-bg-1{
    height: auto;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ml-1, .mx-1 {
    margin-left: .25rem!important;
    font-size: 1.0rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    font-size: 1.0rem;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
    font-size: 1.0rem;
}
.home-bg-new{
    height: 89h;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-bg-1 > p {
    position: absolute;
    padding: 8%;
    font-weight: bolder;
    font-size: 4.2rem;
    color: #00a09b;
}

.home-bg-2{
    height: 89vh;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-bg-prod{
    min-height: 580px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-bg-new_text{
    padding-left: 45%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 2%;
    width: auto;
 }
.home-bg-2_text{
   padding-left: 45%;
   padding-top: 10%;
   padding-bottom: 3%;
   padding-right: 2%;
   width: auto;
}
.mt-md-test, .my-md-test {
   
    margin-top: 1rem!important;
    margin-left: 33rem;
}
.tesimonial img{max-width: 300px;}

@media (max-width: 570px){
    .home-bg-2_text{
       padding-left: 6%;
       padding-top: 5%;
    }
}

@media (max-width: 768px){
    .my-mdnew{
        margin-top: 0!important;
        margin-bottom: 0;
    }
}
.my-mdnewimage{
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0!important;
    margin-bottom: 0;
}
.p-text {
    padding: 0.0rem!important;
  
    
}
p::first-letter {
    font-size: 200%;
   
  }
@media (min-width:1920px){
    .p-text{
        margin-bottom: 100px;
    }
}
.bg-gray{
    background-color: #ccc;
}

.home-bg-3{
    height: fit-content;
    background-image: url('./Img/fwdhhmhomepagedummypics/Home\ 07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-primaryhome {
    background-color: #00a19c;
    border-color: #00a19c;
    margin-top: 60px;
    margin-left: 40%;
}

.btn-primaryhomenew {
    padding: 5px 20px;
    font-size: 1.6rem;
    margin-left: 4%;
    color: #FFFFFF;
    background-color: #00a19c;
    border-color: #00a19c;
}
.btn-primaryhomenew:hover{    color: #FFF;text-decoration: none;}

.btn-primaryhomedata {
    width: auto;
}
.border-teal{
    border-left: 5px solid #00a09b;
    padding-left: 4px;
}
.author-info{
    align-items: center;
    border: 1px solid #DDD;
    padding-left: 1em;
    border-right: none;
    border-left: 0;
    margin-bottom: 1em;
    justify-content: space-between;
}
.author-info ul{margin-bottom: 0em;margin-left: 3em;}  

@media (max-width:768px){
    .b-absolute{
        font-size: 2rem;
    }
    .h5, h5 {
        font-size: 1.4rem;
    }
    .home-bg-2_text{
        padding-left: 1%;
    }
    .home-bg-1 > p {
        font-size: 300%;
    }
    .btn-primaryhome{margin-left: 0px;}
}