.home-bg-1{
    height: 400px;
    background-image: url('../HomePage/Img/fwdhhmhomepagedummypics/Home\ 01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg-1 > p {
    padding: 8%;
    font-weight: bolder;
    font-size: 35px;
    color: teal;
    font-family: 'Times New Roman', Times, serif;
}

.home-bg-2{
    height: auto;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg-2_text{
   padding-left: 45%;
   padding-top: 5%;
   padding-bottom: 3%;
   width: auto;
}

@media (max-width: 570px){
    .home-bg-2_text{
       padding-left: 6%;
    }
}

.bg-gray{
    background-color: #ccc;
}


.home-bg-3{
    height: fit-content;
    background-image: url('./Img/fwdhhmhomepagedummypics/Home\ 07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-yoga{
    background-image: url('./Img/fwdhhmhomepagedummypics/Home\ 09.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-teal{
    border-left: 5px solid teal;
    padding-left: 4px;
}