.home-bg-1{
    height: 33em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg-1 > p {
    padding: 8%;
    font-weight: bolder;
    font-size: 400%;
    color: #00a09b;
}

.home-bg-2{
    height: 530px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-bg-prod{
    height: 580px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg-2_text{
   padding-left: 45%;
   padding-top: 10%;
   padding-bottom: 3%;
   padding-right: 2%;
   width: auto;
}

.tesimonial img{max-width: 300px;}

@media (max-width: 570px){
    .home-bg-2_text{
       padding-left: 6%;
       padding-top: 5%;
    }
}

.bg-gray{
    background-color: #ccc;
}

.home-bg-3{
    height: fit-content;
    background-image: url('./Img/fwdhhmhomepagedummypics/Home\ 07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-primaryhome {
    background-color: #00a19c;
    border-color: #00a19c;
    margin-left: 300px;
    margin-top: 60px;
}
.border-teal{
    border-left: 5px solid #00a09b;
    padding-left: 4px;
    padding-right: 210px;
}

@media (max-width:768px){
    .home-bg-1 > p {
        font-size: 300%;
    }
}