.bg{
    height: 400px;
    background-image: url('../HomePage/Img/woman-running-on-sand-near-white-concrete-building-736505.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg img{
    width: 12%;
}

.back-color{
    background-color: #ccc;
}

.white{
    color: white;
}

.b {
    background-color: #08a3a3;
}

