.home_bg-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
}

.home_bg-1 > h3 {
    padding: 4%;
    color: white;
    font-family: 'Lato';
}

.home_bg-2 {
    background: url('../HomePage//Img/fwdhhmhomepagedummypics/Home\ 03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_bg-2-text{
    padding-left: 50%;
    padding-top: 5%;
    width: 92%;
 }

 .home_bg-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37em;
}

.player > div{
    width: 100% !important;
}

.home_bg-3-text{
    padding-left: 40%;
    padding-top: 15%;
    width: 92%;
 }

.home_bg-4  img{
    width: 30vh;
    padding: 8px;
}

.border-teal-top{
    border-top: 5px solid #00a19c;
    padding-top: 4px;
}
.border-teal{
    border-left: 5px solid #00a19c;
    padding-left: 4px;
}

.full-img{
    height: 450px;
    width : 450px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#slideshow{
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    max-width: 465px;
    width: 100%;
    padding: 0.5em 0em;
}

#slideshow img{
    margin: auto 0.5em;
    width:100px;
    height:100px;
    cursor: pointer;
}

#slideshow img.true{
    border: 2px solid #00a19c;
    pointer-events: none;
}

@media (min-width:768px){
    .player > div{
        width: 50%!important;
        height: 25vh;
    }
    .buy{width:50%;}
}