@font-face {
    font-family: NunitoSans;
    src: url(../../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
.np-page{
    font-family: NunitoSans, sans-serif;
    color: #181b1b;
    font-size: initial;
}
.arrow {
    display: none !important;
}
.popover{border: 1px solid #fed609;}
p{
    padding-left: 0px;
}
.variant-button .btn{
    background-color: transparent;
    margin: auto 5px;
    color: #000;
    border-radius: 0;
    padding: 0.25rem 0.75rem;
}
.variant-button .a.btn, .variant-button .btn:active{
    background-color: rgba(0,161, 156, 10%)!important;
    color: #00a19c!important;
    box-shadow: 1px 1px 0px #00a19c;
}
.variant-button .a.btn{
    pointer-events: none;
}
.qty{
    border: 1px solid #00a19c;
    padding: 0.25rem 0.75rem;
}
.buy-btn{
    border-color: #fed609;
    background-color: #fed609;
    padding: 0.25rem 0.75rem;
    color: #101010;
    font-weight: 800;
}
.img-fluid._3d{
    cursor: pointer;
    border: 2px ridge gold;
}
 .home_bg-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37em;
}

.home_bg-4  img{
    width: 30vh;
    padding: 8px;
}

.full-img{
    height: 300px;
    width : 300px;
    overflow: hidden;
}

.full-img img{height: 100%;}

#slideshow{
    width: 100%;
    text-align: center;
}

#slideshow img{
    margin: 0.5em;
    width:100px;
    height:100px;
    cursor: pointer;
}

#slideshow span{
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: auto 0.3em;
    background: #fed609;
    width: 10px;
    height: 10px;
    border: 1px solid #fed609;
}

#slideshow span.true{pointer-events: none;padding: 5px;border-color: #052524}

#slideshow img.true{
    border: 2px solid #fed609;
    pointer-events: none;
}

@media (min-width:900px){
    .full-img{
        height: 400px;
        width : 400px; 
    }
}

@media (max-width:768px){
    #slideshow{
        white-space: nowrap;
        overflow: auto;
    }
}