.img-fluid._3d{
    cursor: pointer;
    border: 2px ridge gold;
}
.home_bg-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
}

.home_bg-1 > h3 {
    padding: 4%;
    color: white;
    font-family: 'Lato';
}

.home_bg-2 {
    background: url('../HomePage/Img/fwdhhmhomepagedummypics/Home-03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_bg-2-text{
    padding-left: 50%;
    padding-top: 5%;
    width: 92%;
 }

 .home_bg-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37em;
}

.player > div{
    width: 100% !important;
}

.home_bg-3-text{
    padding-left: 40%;
    padding-top: 15%;
    width: 92%;
 }

.home_bg-4  img{
    width: 30vh;
    padding: 8px;
}

.border-teal-top{
    border-top: 5px solid #00a19c;
    padding-top: 4px;
}
.border-teal{
    border-left: 5px solid #00a19c;
    padding-left: 4px;
}

.full-img{
    height: 360px;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    overflow: hidden;
}

#slideshow{
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    padding: 1em 0em;
    text-align: center;
}

#slideshow img{
    margin: auto 0.5em;
    width:100px;
    height:100px;
    cursor: pointer;
}

#slideshow span{
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: auto 0.3em;
    background: #00a19c;
    width: 10px;
    height: 10px;
    border: 1px solid #00a19c;
}

#slideshow span.true{pointer-events: none;padding: 5px;border-color: #052524}

#slideshow img.true{
    border: 2px solid #00a19c;
    pointer-events: none;
}

@media (min-width:900px){
    .player > div{
        width: 50%!important;
        height: 25vh;
    }
    .full-img{
        height: 450px;
        width : 450px; 
    }
    
    #slideshow{
        max-width: 465px;
    }
}