.product {
    width: auto;
    max-width: 768px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 0.5em auto;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
    transition: all .1s ease-in-out;
  }
  .product:hover {
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
  }
  .product .img-container {
    flex: 2;
  }
  .product .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .product .product-info {
    background: #fff;
    flex: 3;
  }
  .product .product-info .product-content {
    padding: .2em 0 .2em 1em;
  }
  .product .product-info .product-content h1 {
    font-size: 1.3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
  }
  .product .product-info .product-content .product-desc {
    color: #636363;
    font-size: .9em;
    height: 135px;
    overflow: auto;
    margin-bottom: 0.5rem;
  }
  .product .product-info .product-content ul li {
    color: #636363;
    font-size: .9em;
    margin-left: 0;
  }
  .product .product-info .product-content .buttons {
    padding-top: .4em;
  }
  .product .product-info .product-content .buttons .button {
    text-decoration: none;
    color: #5e5e5e;
    font-weight: bold;
    padding: .3em .65em;
    transition: all .1s ease-in-out;
  }
  .product .product-info .product-content .buttons .add {
    border: 1px #5e5e5e solid;
    display: none;
  }
  .product .product-info .product-content .buttons .add:hover {
    border-color: #6997b6;
    color: #6997b6;
  }
  .product .product-info .product-content .buttons .view {
    border: 1px #5e5e5e solid;
  }
  .product .product-info .product-content .buttons .view:hover {
    border-color: #6997b6;
    color: #6997b6;
  }
  .product .product-info .product-content .buttons.price {
    margin-left: 4em;
    color: #5e5e5e;
    font-weight: bold;
    border: 1px solid rgba(137, 137, 137, 0.2);
    background: rgba(137, 137, 137, 0.04);
  }
  