/* 1920 x 5814 */
.l-container{width: 100%;height: 100%;}
.fix{position: absolute;z-index: 99;cursor: pointer;background: #25852500;}
.e-brocher{
    margin-top: calc(127.5%);
    left: 39.5%;
    width: 21%;
    height: 8%
}
.k-more{
    margin-top: calc(222.5%);
    left: 43.5%;
    width: 13%;
    height: 8%;
}
.b-now{
    margin-top: calc(267%);
    left: 43.5%;
    width: 13%;
    height: 8%;
}