/* 1920 x 5814 */
.l-container{width: 100%;height: 100%;background: #7e8387 url('./img/bg.jpg') repeat;background-position: bottom;color: #FFFFFF;}
.fix{position: absolute;z-index: 99;cursor: pointer;background: #25852500;}
.contact{
    list-style: none;
    right: -50px;
    transform: rotate(90deg);
    margin-top: 0%;
}
.hr{
    margin-right: 160%;
    border-right: none !important;
}
.hr::after{
    content: '';
    width:160%;
    height:1px;
    background: #d3d3d4;
    position: absolute;
    margin-top: 35px;
    border-right: none;
}
.contact li{
    display: inline;
    padding: 0em 0.5em;
    border-right: 1px solid #d3d3d4;
}
.contact li:nth-child(2){margin-left: 165%;}
.contact li:last-child { border-right: none; }
.contact a{
    text-decoration: none;
    color: #d3d3d4;
    font-size: 85%;
}
.h-logo{width:30%;position: absolute;left: 0;
  margin-left: 40%;
  margin-top: 30%;}
.section .btn, .l-container h1{text-transform: uppercase;text-align: center;margin-bottom: 1em;color:#FFF}
.section{padding: 2em 1em;}
.section::after{
    content: '';
    width: 80%;
    height: 2px;
    background: #FFF;
    z-index: 9;
    position: absolute;
    left: 10%;
    margin-top: 1.5em;
}
.hrw::after{
  content: '';
  width: 80%;
  height: 2px;
  background: #FFF;
  z-index: 9;
  position: absolute;
  left: 10%;
}
.section .row{align-items: center;text-align: center;}
.section img{width: 75%;}
.section p{text-align: left;}
.section .btn{border: 1px solid #FFF;border-radius: 0px;}
.btn-buy{background: #FFF;color: #363636 !important;}
.p-md{padding: 0em 10em;}
.lamp img{width: 60%;}
.timeline {
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.timeline ul li .content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}
.timeline ul {
  margin-top: 8%;
}
.timeline ul li {
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 2%;
  list-style-type: none;
}
.timeline ul li:last-child {
  padding-bottom: 7px;
}
.timeline ul li:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #faf8eb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.timeline ul li .content {
  position: relative;
  top: 7px;
  width: 360px;
  padding: 0px 20px;
}
.timeline ul li .content p {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 90%;
}
.timeline ul li .content:before {
  content: '';
  position: absolute;
  top: 7px;
  border: 1px dashed rgba(250,250,250,0.8);
  width: 25%;
}
.timeline ul li:nth-child(odd) .content {
  left: 0px;
  padding-left: 95px;
}
.timeline ul li:nth-child(odd) .content:before {
  left: 0px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-350px - 45px);
  padding-right: 55px;
}
.timeline ul li:nth-child(even) .content  p{
    text-align: right;
}
.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

.pfooter{
    background: #363636;
    padding:0.7em 0em;
}
.pfooter img{height: 40px;margin-top:0.5em;}
.pfooter p{font-size: 80%;margin-top:0.5em;text-align: center;}

@media (max-width:768px){
    .contact{position: fixed;right: -80px;}
    .np, .p-md{padding: 0;}
    .hr{margin-right: 100%;}
    .hr::after{width:100%;}
    .contact li:nth-child(2){margin-left: 105%;}
    .contact a{font-size: 80%;}
    .lamp img{width:90%}
    .timeline ul {
      max-width: 360px;
      margin: 5% auto;
    }
    .timeline ul li{padding-bottom: 3%;}
    .timeline ul li .content{width: 25%;min-width: 200px;}
    .timeline ul li:nth-child(odd) .content{
      padding-left: 50px;
    }
    .timeline ul li:nth-child(even) .content {
      left: calc(-25% - 235px);
      padding-right: 15px;
    }
    .timeline ul li .content p{font-size: 80%;}
}

@media (max-width: 500px){
  .contact{right: -85px;}
  .lamp{overflow: hidden;}
  .lamp img {
    width: 100%;
    margin-left:5em
  }
  .timeline{padding-left: 10em;}
  .timeline ul {margin: 5% auto;}
  .timeline ul li{padding-bottom: 4.5%;}
  .timeline ul li:nth-child(even) .content, .timeline ul li:nth-child(odd) .content {
    left: calc(-25% - 280px);
    width: 100%;
    min-width: 250px;
    padding-right: 0px;
    padding-left: 1.5em;
  }
  .timeline ul li .content p {
    font-size: 70%;
    text-align: right;
  }
  .timeline ul li:nth-child(even) .content:before, .timeline ul li:nth-child(odd) .content:before{
    right: -40px;
    left: initial;
    width: 50px
  }
}