.bg{
    background-image: url('./img/santosh-verma-us6C9t4wz_U-unsplash\(1\).jpg');
    height: 25em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.bg-text{
    position: relative;
    top: 10%;
    left: 10%;
    font-family: 'Lato';
    color: white;
}