.bkgcontact{
    background-image: url('./img/cbackground.png');
    height: 24em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 10px;
}
.bkg-text{
    padding: 8%;
    font-weight: bolder;
    font-size: 300%;
    color: #00a09b;
}

.MsoNormal
{
    font-size: 0.9rem;
     text-align: justify;
     text-justify: inter-word;
}
.pl-innerpage{
    padding-left: 1rem!important;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
}
.pl-home {
     padding-left: 1.5rem!important; 
     font-size: 0.9rem;
     text-align: justify;
     text-justify: inter-word;
}
.li{
    width: 300px;
    float: right;
    padding-left: 0.5em;
}