

.bg-image  {
    background: url("./img/santosh-verma-us6C9t4wz_U-unsplash\(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 25em;

}
.mid-word{
    position: relative;
    top: 20%;
    left: 10%;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}

.left{
    width: 40%;
    padding: 80px;
    font-weight: 300;
    color: black;
}
.left p{
    line-height: 1.3em;
}

.little-img{
    
    padding-top:20px;
}

.little-img img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.middle {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 660px){
    .main{
        font-size: 60%;
    }
}

@media(max-width: 520px){
    .left{
        padding: 40px;
    }
}

@media(max-width: 430px){
    .left{
        padding: 20px;
        font-size: 60%;
    }

    /* .left p{
        line-height: 20px;
    } */
}