.logo{
    width: 30%;
}

.navbar-container{
    color: black;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.nav-items a{
    text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 10px;
    color: black;
    font-weight: 300;
    border-right: 1px solid black;
    padding:10px;
}

@media(max-width: 910px){
    .navbar-container{
        justify-content: unset;
    }
}

@media(max-width: 860px){
    .logo{
        width: 50%;
    }
}