.logout{position: absolute;right: 15px;margin-top: -31px;}
.pro{width: 100%;}
.mw{max-width: 480px;}
.pro.true{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);}
.header{padding: 0.5rem 2rem;cursor: pointer;margin-bottom: 0px;}
.pro.true .header{background: #00a09b;color: #FFF;font-size: 1.5rem;}
.c-body{padding: 0.5rem 2rem;border-top: 1px solid #cccccc;overflow: auto;}
.c-body .form-control{max-width: 360px;border: none;border-bottom: 1.5px solid #00a09b;border-radius: 0;margin-bottom: 5px;}
.c-body .c{max-width: 360px;width: 100%;}
.mh{max-height: 350px; overflow: auto;}
.hs{white-space: nowrap;}
.order-list{display: inline-block;padding: 5px;border-right: 1px solid #EEE;margin-right: 1em;white-space: normal;}