.footer{
    padding: 5% 10%; 
    background-color: #000000;
    background-size: contain;
      
}
.footerbg{
    padding: 25px; 
    background-image: url('../HomePage/Img/footer.png');
    background-size: cover;
}
.footer hr{
    border-bottom: 1px solid #FFFFFF;
}
.footer a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding:0.5rem;
}
.d-inlinefoo {
    margin-left: 70px;
    /* display: inline-block!important; */
}
.footer-content-1{
    font-size: 13px;
    
}
.flexrow {
    margin-right: 0;
    margin-left: 0;
    flex-flow: row nowrap;
}
.social{padding-left: 1em;white-space: nowrap;}
.social li{display:inline;padding-left: 1em;}
.social li a{color:#FFF;font-size: 1.5em;}

@media (min-width:1080px){
    .footer{
        padding: 5% 2%; 
    }
}
.pscoical{
    margin-left: 70px;
    margin-top: 0;
    font-size: 0.5rem !important;
}
 ._3BQmz {
    display: flex;
    position: relative;
    width: calc(100% - var(10)*2);
    margin: 0 auto;
}
._1HpZ_ {
  
        font-size: 22px;
        font-weight: 300;
        color: #555;
        line-height: 30px;
        font-style: italic;
    
}
.pscoicaldat{
    margin-left: 70px;
    margin-top: 0;
    font-size: 1.5rem !important;
}
.pscoicaldatho{
    margin-left: 20px;
   
}
.pscoicalv{
   
    margin-top: 10px;
    margin-left: 40px;
    font-size: 0.8rem !important;
}
.pscoicalnoleft{
   
    margin-top: 2px;
   
    font-size: 0.8rem !important;
}

.socialview{padding-left: 1em;white-space: nowrap;margin-left: 30px;}
.socialview li{display:inline;padding-left: 0.5em;}
.socialview li a{color:#FFF;font-size: 1.5em;}
.iamgefooter{
   
    margin-top: 0.5rem;
  
}
@media (min-width:900px){
    .footer-content-1{
        padding-left: 200px;
    }
    .footer{
        padding: 25px;
        background-size: cover;
    }
}