.footer{
    padding: 25px; 
    background-image: url('../HomePage/Img/footer.png');
    background-size: cover;
      
}
.footerbg{
    padding: 25px; 
    background-image: url('../HomePage/Img/footer.png');
    background-size: cover;
}

.footer a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.footer-content-1{
    font-size: 13px;
    
}
.flexrow {
    margin-right: 0;
    margin-left: 0;
    flex-flow: row nowrap;
}
.social{padding-left: 1em;}
.social li{display:inline;padding-left: 1em;}
.social li a{color:#FFF;font-size: 1.5em;}
.footer .nav a{padding:0.5rem;}

@media (min-width:1080px){
    .footer{
        padding: 5% 2%; 
    }
}
.pscoical{
    margin-left: 70px;
    margin-top: 0;
    font-size: 0.5rem !important;
}

.iamgefooter{
   
    margin-top: 0.5rem;
  
}
@media (min-width:900px){
    .footer-content-1{
        padding-left: 200px;
    }
}