.footer{
    background-image: url('../HomePage/Img/footer.png');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color:rgba(255, 255, 255, 0.8);    
}

.footer a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.bg-info{
    background-color:#00a19c;
}

.footer-content-1{
    font-size: 13px;
}

.social{padding-left: 1em;}
.social li{display:inline;padding-left: 1em;}
.social li a{color:#FFF;font-size: 1.5em;}

@media (min-width:900px){
    .footer-content-1{
        padding-left: 200px;
    }
}