@font-face {
    font-family: Rossanova;
    src: url(./fonts/rossanova/Eko\ Bimantara\ -\ Rossanova-Regular.otf);
}
*,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#appbody{min-height: 55vh;}
body{
    font-family: Rossanova, sans-serif;
    color: #2a2b2b;
    
}
b, strong{color: #101010;}
a{color: #758595;}
.center {
    height: 90vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center > div{text-align: center;}
.form-control:focus{box-shadow: none;}
.btn-primary{background-color: #00a19c;border-color: #00a19c; margin-right: 30px;}
.btn-primary:hover{background-color: #099fb7;border-color:#099fb7;}
.btn-primary.disabled, .btn-primary:disabled{background-color: #00a19c;border-color: #00a19c;}
.navbar-light .navbar-nav .nav-link.active{color: #00a19c;pointer-events: none;}
.navbar-light .navbar-nav .nav-link{font-size: 1rem;color: rgb(0, 0, 0, 0.7);padding: .5rem 1rem;}
.form .col-md-2{overflow: hidden;}
.form-title{text-transform: uppercase;width: fit-content;color: #00a09b;padding:0em 0.3em;padding-top: 0.2em;border-right: 47px solid #00a19c;border-left: 5px solid #00a19c;}
.form .form-control{border: 1.5px solid #00a09b;border-radius: 0;}
.color-primary{color:#00a19c}
.cart{padding: 0rem 0.5rem !important;margin-left: 1em;}

.bpart .content{
    padding: 2%;
    padding-top: 3%;
    overflow: auto;
}
@media (min-width: 768px){
    .header-nav .navbar-collapse a:not(:last-child):after {
        content: '';
        position: absolute;
        width: 1.5px;
        height: 14px;
        background: #00a19c;
        z-index: 1080;
        margin-top: 2px;
        margin-left: 1em;
    }
    .bpart{background-image: none!important;min-height: 550px;overflow: auto;}
    .bpart img:not(.n){height: auto;}
    .bpart .content{position: absolute;width: 60%;margin-left: calc(100% - 60%);}
  
}

@media (max-width:766px){
    .bpart{
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bpart img:not(.n){display: none;}
}