@font-face {
    font-family: Rossanova;
    src: url(./fonts/rossanova/Eko\ Bimantara\ -\ Rossanova-Regular.otf);
}
*,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#appbody{min-height: 55vh;}
body{
    font-family: Rossanova, sans-serif;
    color: #2a2b2b;
}
b, strong{color: #101010;}
a{color: #758595;}
.center {
    height: 90vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center > div{text-align: center;}
.form-control:focus{box-shadow: none;}
.btn-primary{background-color: #00a19c;border-color: #00a19c;}
.btn-primary:hover{background-color: #099fb7;border-color:#099fb7;}
.btn-primary.disabled, .btn-primary:disabled{background-color: #00a19c;border-color: #00a19c;}
.navbar-light .navbar-nav .nav-link.active{color: #00a19c;pointer-events: none;}
.navbar-light .navbar-nav .nav-link{font-size: 14px;color: rgb(0, 0, 0, 0.7);padding: .5rem 1rem;}
.form .col-md-2{overflow: hidden;}
.form-title{text-transform: uppercase;width: fit-content;color: #00a09b;padding:0em 0.3em;padding-top: 0.2em;border-right: 47px solid #00a19c;border-left: 5px solid #00a19c;}
.form .form-control{border: 1.5px solid #00a09b;border-radius: 0;}
@media (min-width: 768px){
    .header-nav .navbar-collapse a:not(:last-child):after {
        content: '';
        position: absolute;
        width: 1.5px;
        height: 14px;
        background: #00a19c;
        z-index: 1080;
        margin-top: 2px;
        margin-left: 1em;
    }
}